*{
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #e6e6e6;
    display: flex;
    position: relative;
    justify-content: center;
}
button{
    top: 25px;
    left:5px;
    position: absolute;
    border: none;
    letter-spacing: 3px;
    background: transparent;
}
nav{
    left: -100%;
    position: absolute;
    z-index: 1;
    background: aquamarine;
    height: 100vh;
    width: 100%;

}
nav ul{
    margin-top: 10%;
}
nav ul a{
    color: #000;
    top: 50vh;
    text-decoration: none;
}
nav ul a:hover{
    letter-spacing: 20px;
    transition: all ease-in-out 0.5s;
}
nav ul li{
    list-style-type: none;
    margin: 1% 0;
    padding: 20px;
}
.imgbx  img{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 100%;
    object-fit: cover;
}
h1{
    margin-top: 25px;
}
p{
    font-weight: 200;
    margin-top: 15px;
}
.data{
    font-size: 18px;
    max-width: 600px;
    padding: 0 35px;
    line-height: 25px;
    align-items: center;
}
.data a{
    text-decoration: none;
    color: #fff;
    padding: 10px 14px;
    background-color: rgb(42, 176, 238);
    border-radius: 10px;
}
.data a:hover{
    transition: all ease-in-out 0.3s;
    background-color: rgb(15, 121, 170);
}
